/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');


/* General style for body */

.bg-color {
    background-color: black;
}

.red-text {
    color: red;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'Silkscreen', sans-serif;
}

/* General style for header */

header {
    position: fixed;
    z-index: 99;
    background-color: black;
    height: 125px;
    width: 100%;
    box-shadow: 0 1px 1px #3a3a3a;
    border-bottom: 2px solid yellow;
}

/* Nav link */

#nav-link {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    letter-spacing: 2px;
}

#nav-link ul {
    list-style: none;
    display: flex;

}

#nav-link li {
    margin: 0 15px;
    list-style-type: none;
}

#nav-link a {
    text-decoration: none;
}

#nav-link a:hover {
    background-color: yellow;
}

/* Move the nav links closer to bottom border*/

#nav-events {
    margin-top: 5px;
    padding-top: 3px;
}

/* Background image for index.html */

#index-body {
    background-image: url('../images/pexels-tombrand-1637438.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* bg color to cover the bg image*/

.bg-grey {
    background-color: rgba(49, 49, 49, 0.7);
}

/*Hid header on index html*/
#hidden {
    visibility: hidden;
    margin-top: 0;
}

/*Style for index body */

#index-body p {
    text-align: center;
}

#title {
    text-align: center;
    margin-top: 0;
    height: 70px;
}

#index-main {
    padding-bottom: 10px;
    margin-top: 80px;
}

#logo {
    text-align: center;
    display: flex;
    align-items: center;
}

a {
    color: red;
    text-decoration: none;
}

/* p on index.html */

#intro {
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    padding-top: 30px;
}

.intro-bold {
    color: yellow;
    font-size: 150%;
}

/* Style for events intro */

#events-intro {
    font-size: 130%;
    padding-top: 80px;
    color: rgb(227, 227, 26);
    text-align: center;
}

/* About us and intro section on index.html*/

.intro-class {
    display: flex;
    flex-wrap: wrap;
}

#about-us {
    flex-direction: column;
}

.yellow-text {
    color: yellow;
    font-size: small;
}

#about-us h3 {
    margin-left: auto;
    text-align: center;
}

#about-us h2 {
    margin-left: 7%;
    font-size: xx-large;
    text-align: center;
}

.reason {
    margin-left: 12%;
}

#reason {
    align-self: center;
}

#introduction {
    flex-direction: column;
    align-items: center;
}

/* Last sentence on index html */

#invitation {
    align-items: center;
    flex-direction: column;
    padding-bottom: 5px;
    font-size: small;
}

/*Style on events hmtml */

.event {
    color: red;
}

.events-title {
    height: 60px;
    margin-bottom: 0;
}

.yellow {
    color: yellow;
}

/* Event dates and details */
#events-body {
    background-color: rgb(45, 44, 44);
}

.events-class {
    display: flex;
    flex-wrap: wrap;
}

#events-main {
    margin-top: 125px;
}

#events {
    flex-direction: column;
    align-content: center;
    bottom: 200px;
}

#events-h2 {
    height: 40px;
    margin-top: 0;
}

/* BG for details in summary if clicked on it*/

details:hover {
    background-color: rgb(248, 248, 59);
    z-index: 5;
}

/* Input fields size */

#email {
    margin-left: 55px;
}

#last-name {
    margin-left: 5px;
}

/*Input submit button*/

#reg-submit {
    margin-bottom: 45px;
    background-color: red;
}

/*Style for registration html*/

.reg-class {
    display: flex;
    flex-wrap: wrap;
}

#reg-header {
    justify-content: space-evenly;
}

#reg-ul {
    padding-left: 0;
}

#reg-title {
    display: flex;
    text-align: center;
    height: 0px;
    margin-top: 0px;
    padding-bottom: 50px;
}

/* Registration html main content */

#reg-main {
    margin-top: 68px;
}

#reg-section {
    flex-direction: column;
    margin-top: 100px;
    color: yellow;
    text-align: center;
    padding-bottom: 5px;
}

/* Menu html*/

#bg-main {
    background-image: url('../images/pexels-a-darmel-6643714.webp');
    background-attachment: scroll;
    background-position: bottom;
}

#main-menu {
    padding-bottom: 20px;
    margin-top: 125px;
}

#menu-food {
    display: block;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: x-large;
}

#menu-food div {
    min-width: 280px;
}

#menu-food ul {
    list-style-type: none;
    border: 5px solid yellow;
    text-align: center;
    padding: 5px 15px;
    margin-top: 0;
    margin-bottom: 0;
}

.menu {
    background-color: rgb(6, 6, 6, 0.7);
}

/* Style for Social Network */

#social-network {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    bottom: 0px;
    gap: 5px;
    position: fixed;
    width: 100%;
    background-color: rgb(2, 2, 2);
    margin-bottom: 0px;
    left: 0px;
    padding-left: 0px;
    border-top: 5px solid yellow;
    box-shadow: 0 2px 2px #3a3a3a;
    z-index: 3;
}

#social-network li:hover {
    background-color: yellow;
}

/* Media query: style for screens betweem 376px*/

@media screen and (min-width:376px) {

    /*Adjust the events html*/

    #events-main {
        font-size: x-large;
    }

    #events {
        position: unset;
        z-index: 9;
    }

    #reg-form {
        left: 10px;
    }

    #reg-section h2 {
        font-size: xx-large;
    }

    /*Set the input fields position to mach with the first name input field*/

    #email {
        margin-left: 82px;
    }

    #last-name {
        margin-left: 8px;
    }
}

/* Media query: large or landscape phones (576px and up)*/

@media screen and (min-width:576px) {

    /* Adjust the reg-form and event details on events html */

    #events-main {
        align-items: baseline;
        justify-content: space-between;
    }

    #events {
        top: 60px;
        z-index: 2;
        position: relative;
        top: 30px;
    }

    #events {
        position: relative;
        top: 0;
        text-align: left;
        margin-left: 5px;
    }

    #event-details {
        position: relative;
        text-align: left;
        bottom: 33px;
    }

    #register {
        margin-top: 0;
    }

    #events-intro h2 {
        margin-left: 25px;
    }

    #reason-time-travel {
        margin-left: 32px;
    }

    /* Adjust the Header and Nav link */

    nav {
        position: relative;
        bottom: 45px;
    }

    header {
        height: 80px;
    }

    #index-main {
        margin-top: 30px;
    }

    /*Adjust the menu on menu html*/

    #main-menu {
        margin-top: 78px;
    }

    #menu-food {
        flex-direction: column;
    }

    /* Adjust the registration html*/

    #reg-title {
        display: inline-block;
        width: 100%;
    }

    #reg-nav {
        width: 100%;
    }

    #reg-section {
        margin-top: 0;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
    }

    #reg-section h2 {
        font-size: xx-large;
        padding-left: 10px;
        width: 100%;
    }
}

/*Media query: tablets nad larger screens ( 768px and up)*/

@media screen and (min-width:768px) {

    /* Basic adjustments*/
    body {
        font-size: xx-large;
    }

    /* Push the border line under the nav links*/

    header {
        height: 120px;
    }

    /* Adjustments on index html - change font size -padding/margin*/

    #index-main {
        margin-top: 40px;
    }

    #index-main p {
        font-size: x-large;
    }

    #invitation {
        padding-bottom: 15px;
    }

    #about-us h2 {
        font-size: xxx-large;
    }

    /* Adjust the food menu */

    #menu-food {
        font-size: xxx-large;
        padding-bottom: 20px;
    }

    /* Adjust reg-form on events html*/

    #events-main {
        font-size: xx-large;
    }

    #reg-form {
        height: 485px;
    }

    input {
        height: 22px;
    }

    #email {
        margin-left: 110px;
    }

    #last-name {
        margin-left: 10px;
    }

    /*Adjustment on registration html*/

    #reg-section {
        justify-content: center;
        margin-top: 50px;
    }

    #reg-section h2 {
        font-size: 160%;
    }

    /*Push the border line below the nav links*/

    #reg-header {
        height: 140px;
    }

    /*Makes the input submit larger*/

    input[type=submit] {
        width: 100px;
        height: 32px;
    }
}

/*Media query: laptops and larger screens ( 992px and up)*/

@media screen and (min-width:992px) {

    /*Adjustment on events html*/

    #events-main {
        overflow-y: scroll;
        font-size: xxx-large;
    }

    #reg-submit {
        margin-bottom: 50px;
    }

    #last-name {
        margin-left: 17px;
    }

    #email {
        margin-left: 168px;
    }

    /*Adjustment on registration html font size*/

    #reg-section h2 {
        font-size: 195%;
    }
}

/* Media query: Devices 1200px and up*/

@media screen and (min-width: 1200px) {

    /*Bring the reason section to the center on index hmtl*/
    #reason {
        flex-direction: column;
        align-items: center;
        margin-left: 10px;
    }

    #about-us {
        margin-right: 75px;
    }

    #about-us h3 {
        margin-left: 58px;
    }

    #invitation {
        margin-left: 5%;
    }

    #introduction {
        margin-left: 30px;
    }
}

/* Media query: Desktops 1400px and up*/

@media screen and (min-width: 1400px) {


    #about-us h2,
    #about-us h3 {
        margin-left: 0;
    }

    /*Move the section to the center on index html*/

    #intro {
        margin-left: 15px;
    }

    #events-intro {
        font-size: 180%;
    }

    #reason {
        margin-left: 30px;
    }

    #introduction {
        margin-left: 35px;
    }

    /*Adjusting the text on registration html*/

    #reg-section h2 {
        font-size: 210%;

    }
}

/* Media query: Desktops 1658px and up*/

@media screen and (min-width: 1658px) {

    /*Adjustment on events html to have free space on both right/left side*/
    #events-main {
        padding-left: 10px;
        padding-right: 10px;
    }

    /*Adjust index html*/

    #index-main {
        margin-bottom: 20px;
        margin-top: 70px;
    }

    #index-main p {
        font-size: xxx-large;
    }

    #events-intro h2 {
        font-size: 200%;
    }

    #about-us {
        font-size: 200%;
    }

    #about-us h2 {
        font-size: 210%;
    }

    /*Adjustment on registration html*/
    #reg-section {
        font-size: 150%;
    }

    /*Footer adjustment*/

    #social-network {
        height: 85px;
    }

    #social-network li {
        font-size: 150%;
    }

    /*Header and Nav link*/

    header {
        height: 175px;
    }

    #title {
        font-size: 300%;
        padding-bottom: 15px;
    }

    #nav-link {
        font-size: xxx-large;
    }

    /*Adjustment on menu html*/

    #main-menu {
        margin-top: 175px;
        margin-bottom: 40px;
    }

    /*Adjustment on event*/

    #events-main {
        font-size: 160%;
    }

    /*Adjust input fields*/

    #last-name {
        margin-left: 20px;
    }

    #email {
        margin-left: 183px;
    }

    #reg-submit {
        width: 140px;
        height: fit-content;
        font-size: 50%;
    }

    /*Adjustment on title and nav link*/

    /*Registration html push the nav link closer to border*/

    #reg-nav {
        bottom: 60px;
    }

    #reg-title {
        font-size: 300%;
    }

    #reg-header {
        height: 175px;
    }
}

/* Media query: Desktops 2300px and up*/

@media screen and (min-width: 2300px) {

    /*Reduce the empty spaces between the reg details and form*/

    #events-main {
        font-size: 200%;
    }

    #email {
        margin-left: 223px;
    }

    #last-name {
        margin-left: 23px;
    }
}