/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

/* General style for body */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    font-family: 'Silkscreen',sans-serif;
    color:red;
}

/* Background image for index.html */
#index-body {
    background-image: url('../images/pexels-tombrand-1637438.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    background-attachment: scroll;
    display: flex;
    
    
}

#index-body p {
    text-align: center;
}

#title {
    text-align: center;
}

#index-main {
    padding-bottom: 10px;
}

#logo {
    text-align: center;
    display: flex;
    align-items: center;
    
}

a {
    color:red;
    text-decoration: none;
}

/* p on index.html */

#intro {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.intro-bold {
    color:yellow;
    font-size: 150%;
}

/* Style for events intro */

#events-intro {
    display: flex;
    flex-wrap: wrap;
    font-size: 130%;
    padding-top: 80px;
    color: rgb(227, 227, 26);
    
}


/* About us and intro section on index.html*/

#about-us {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#about-us p {
    color:yellow;
    font-size: small;
    
}

#about-us h3 {
    margin-left: 8%;
    text-align: center;
    
}


#about-us h2 {
    margin-left: 10%;
    font-size: xx-large;
    text-align: center;
}

#reason-food h3, #reason-time-travel h3 {
    margin-left: 12%;
    
}

#reason {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    

}

#introduction {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

/* Last sentence on index html */
#invitation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

/* Nav link */
 
 #nav-link {
    display: flex;
    justify-content: space-around;
    color: red;
    padding: 10px 0;
 }
 
 #nav-link ul {
    list-style: none;
    display: flex;
    
 }
 
 #nav-link li {
    margin: 0 15px;
    list-style-type: none;
 }
 
#nav-link a {
    color: red;
    text-decoration: none;
 }

 /*BG img for events html*/

 #events-body {
    background-image: url('../images/pexels-cottonbro-4842490.jpg');
    background-size: 325%;
    
}

#reg-main {
    display: flex;
    flex-wrap: wrap;
}

/* Event date and details */

#events {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

/* Registration form */

#reg-form {
    right:15px;
    align-self: center;
}

/*Background img for registration html*/

#reg-page {
    background-image: url('../images/pexels-cottonbro-6686135\ 2.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    
    
}

/* Registration html main content */

#reg-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
    margin-top: 150px;
    font-size: xx-large;
    color:yellow;
}


/* Menu html*/

#main-menu {
    padding-bottom: 55px;
}

#menu-food {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: x-large;
    
}

#bg-main {
    background-color: black;
    
}

#menu-food ul {
    list-style-type: none;
    border:5px solid yellow;
    text-align: center;
    padding: 5px 15px;
    margin-top: 0;
    margin-bottom: 0;
    
}

#beer, #maindish, #appetizers, #coffee, #soft-drinks, #snacks {
    background-color: rgb(6, 6, 6,0.7) ;
    
}


/* Style for Social Network */

#social-network {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    bottom: 0px;
    gap:10px;
    position: fixed;
    width: 100%;
    background-color: gray;
    margin-bottom: 0px;
    left: 0px;
    padding-left: 0px;
    
}


/*#reg-form {
    position: absolute;
    bottom: 40%;
    right:15px;
    align-self: center;
    
}*/
