/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

/* General style for body */

body {
    display:flex;
    flex-direction: column;
    font-family: 'Silkscreen',sans-serif;
    color:red;
    
}

/* Backgroun image for index.html */
#index-body {
    background-image: url('/assets/images/pexels-tombrand-1637438.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    
}

#events {
    background-image: url('/assets/images/pexels-cottonbro-4842490.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    margin-top: 0px;
    
}

a {
    color:red;
}


/* Style for nav links */
#menu {
    display: flex;
    align-self: baseline;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    list-style-type: none;
    position:relative;
    bottom: 50px;
    right: 15px;
    
}

/* P on index.html */

#intro {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.intro-bold {
    color:yellow;
    font-size: 150%;
}

/* Style for events intro */

#events-intro {
    display: flex;
    flex-wrap: wrap;
    font-size: 130%;
    padding-top: 80px;
    
}
/* Style for Social Network */

#social-network {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    bottom: 0px;
    left:32%;
    gap:10px;
    position: fixed;
    
    
    
   
}